@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:wght@500&display=swap");

body {
  background-color: #ffffff;
}

.sidebar {
  background-color: #073b4c;
}

thead tr th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
thead tr th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

tbody tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 0px;
}
tbody tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
}

.main-container {
  font-family: "Quicksand", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}
